.friendScroll {
    flex: 1;
    background: #eee;
    overflow-y: scroll;
    max-height:70vh;
  }
  .mssgScroll {
    flex: 1;
    overflow-y: scroll;
    /* max-height:60vh; */
    height: 72vh;
    margin-bottom: 8px;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .mssgWrapper{
    width:'100vh';
    display:inline-block;
    clear: both;
  }
  @media only screen and (max-width: 780px) {
    /* For mobile phones: */
    .mssgScroll {
      flex: 1;
      overflow-y: scroll;
      /* max-height:60vh; */
      height: 67vh;
      margin-bottom: 8px;
    }
  } 