.friendScroll {
    flex: 1;
    background: #eee;
    overflow-y: scroll;
    max-height:60vh;
  }
  .mssgScroll {
    /* flex: 1; */
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    /* max-height:60vh; */
    height: 70vh;
    /* margin-bottom: 8px; */
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .mssgWrapper{
    width:'100vh';
    display:inline-block;
    clear: both;
  }
  .division {
    height: 50%;
    width:50%;
    }

  .divisionimg {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  }
  @media only screen and (max-width: 680px) {
    /* For mobile phones: */
    .mssgScroll {
      flex: 1;
      overflow-y: scroll;
      /* max-height:60vh; */
      height: 65vh;
    }
  }
  @media only screen and (min-device-width: 681px) and (max-device-width: 780px) {
    /* For mobile phones: */
    .mssgScroll {
      flex: 1;
      overflow-y: scroll;
      /* max-height:60vh; */
      height: 75vh;
    }
  }  